<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>나의 새로운가족, My Pet</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/main">My Pet</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/main">동물소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pet">동물특징</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sos">유기동물</a>
          </li>

          </li>

        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container">
    <br>
    <br>

    <h2 class="my-4"><font color="red">WELCOME</font><br> 나의 새로운 가족, 마이펫 블로그입니다.</h2>

    <img src="{% static 'maindog.png' %}" width="1130" height="300">
    <br>
    <br>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">행복한 가정</h4>
          <div class="card-body">
            <p class="card-text">애완동물이 아이의 사회성 형성에 좋은 영향을 미친다는 연구 결과가 있다.
            아이의 조기 사회 성형성과 가족간의 화목한 분위기 조성에 좋은 영향을 미친다.<br><br> 영국의 일간지 ≪인디펜던트≫ 인터넷판은 ‘자녀를 행복하게 만드는 10가지 방법’에‘애완동물 키우기’를 포함시켰다.<br><br> 삼성복지재단, 원광대, 숭실대, 대구대에서 보육원의 맞벌이 부부 자녀들에게 애완견을 키우게 하고 2년 동안 조사한 결과, 내성적인 성격이 활달하게 바뀌고 사회성이 증가했다고한다.</p>
          </div>
          <div class="card-footer">
            <a href="" class="btn btn-primary"># 행복한가정</a>
            <a href="" class="btn btn-primary"># 즐거운아이들</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">평온한 노년</h4>
          <div class="card-body">
            <p class="card-text">미국노인병학회에서는 애완동물을 키우는 노인은 그렇지 않은 노인보다 우울한 기분을 덜 느낀다는 연구결과를 발표했다.<br><br>
              애완동물은 장수에도 영향을줘, 미국경제전문지 ≪포브스≫에서는 ‘10가지 장수 비법’에 ‘애완동물키우기’를 포함시키고 있다.<br><br>중부동물병원 조휴익 원장은“애완 동물이 옆에 있다는 것만으로도 사람은 정신적으로 크게 위안을 받으며, 장기적으로 건강하게 오래 사는 것에 영향을 미칠 수 있다”고 말했다.</p>
          </div>
          <div class="card-footer">
            <a href="" class="btn btn-primary"># 노후생활 </a>
            <a href="" class="btn btn-primary"># 외로운 노부부 </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">건강한 몸</h4>
          <div class="card-body">
            <p class="card-text">애완동물은 사람의 몸을 건강하게 한다. 영국 북아일랜드의 퀸스 대학 웰즈 박사팀의 연구 결과, 애완동물을 키우는 사람이 혈압과 콜레스테롤이 낮은 것으로 나타났다.<br><br>웰즈 박사는 “개는 사람의 스트레스를 완화시켜 건강에 직접적으로 도움이 되며, 애완견과 함께 하는 규칙적인 산책과 활동은 신체적 건강을 증진시킨다”고 말했다.<br><br> 중부동물병원 조휴익 원장은 “개는 괘종시계만큼 정확해 정해진 시간에 정확한 속도로, 같은 거리를 운동할 수 있게 도와준다”고 했다.</p>
          </div>
          <div class="card-footer">
            <a href="" class="btn btn-primary"># 건강증진</a>
            <a href="" class="btn btn-primary"># 행복증진</a>
            <a href="" class="btn btn-primary"># Health</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>애완동물</h2>
<table border="0">
  <tr>
    {% for blog in blogs.all %}
    <td>
      <div class="col">
      <div class>
        <div class="card ">
          <a href="#"><img class="card-img-top" src="{{ blog.image.url}}" ></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{blog.title}}</a>
            </h4>
            <p class="card-text">{{blog.body}}</p>
          </div>
        </div>
      </div>
    </div>
    </td>
    {% endfor %}
  </tr>
</table>
    
    
    <!-- /.row -->

<br>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>그 외 애완동물을 키워야하는 이유</h2>
        <ul>
          <li>사랑스러운 동물이다.</li>
          <li>항상 당신을 보면 기뻐한다.</li>
          <li>도움을 준다.</li>
          <li>당신을 웃게 만든다.</li>
          <li>그들은 당신을 편견없이 사랑한다.</li>
          <li>그들은 전세계 미소중에서 65%에 원인을 제공한다.</li>
          <li>언제나 사랑을 필요로 한다.</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="{% static 'maindog2.png' %}" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
