{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>나의 새로운가족, My Pet</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<style >
.card-header{
  font-weight: bold;
}
.card-text { 
font-weight: bold;
font-family: dotum; }
</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/main">My Pet</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/main">동물소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pet">동물특징</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sos">유기동물</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
<br>
<br>
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">애완동물
      <small>특징</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/main">동물소개</a>
      </li>
      <li class="breadcrumb-item active">동물특징</li>
    </ol>

    
    <!-- /.row -->
 <div class="row">
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">진돗개</h4>
          <div class="card-body">
            <img src="{% static 'dog1.jpg' %}" width="230" height="300">
            <p class="card-text">진돗개<br></p>
<p>크기 :중형<br>
털빠짐 :보통<br>
성격 수렵에 대한 강한 본능과 대담, 용감하며 신중하고 맹렬함</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">골든 리트리버</h4>
          <div class="card-body">
            <img src="{% static 'dog11.jpg' %}" width="230" height="300">
            <p class="card-text">골든 리트리버<br></p>
<p>크기 :대형<br>
털빠짐 :많음<br>
성격 : 친밀하며 믿음 있고 애정이 깊으며 확실한 성품 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header" style="font-weight: bold">시츄</h4>
          <div class="card-body">
            <img src="{% static 'dog22.jpg' %}" width="230" height="300">
            <p class="card-text" style="font-family: dotum; font-weight: bold;">시츄<br></p>
<p>크기 :소형<br>
털빠짐 :보통<br>
성격 :사교적이고 친근하고 영리하며 가끔 고집을 부리기도 함</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">말티즈</h4>
          <div class="card-body">
            <img src="{% static 'dog6.jpg' %}" width="230" height="300">
            <p class="card-text">말티즈<br></p>
<p>크기 :소형<br>
털빠짐 :보통<br>
성격 :몹시 까다롭고 활달하며 질투와 응석이 있고 사람들과 친밀하게 지냄</p>
          </div>
        </div>
      </div>
    </div>

     <div class="row">
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">페르사안 고양이</h4>
          <div class="card-body">
            <img src="{% static 'cat1.jpg' %}" width="230" height="300">
            <p class="card-text">페르시안 고양이<br></p>
<p>체형 :코비<br>
털 :장모<br>
성격 :얌전하고 의젓하며 느긋한 성격에 빗질을 좋아한다. 얌전하고 주인을 잘 따르는 고양이를 원한다면 페르시안 고양이가 알맞다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">러시안 블루</h4>
          <div class="card-body">
            <img src="{% static 'cat2.jpg' %}" width="230" height="300">
            <p class="card-text">러시안 블루<br></p>
<p>체형 :포린<br>
털 :단모<br>
성격 : 애정이 넘치는 성격이면서도 낯가림을 하는 편이다. 친해지는 데에 시간이 걸리지만 한번 마음을 열면 변치 않는 신뢰를 보여준다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">스코티쉬 폴드</h4>
          <div class="card-body">
            <img src="{% static 'cat3.jpg' %}" width="230" height="300">
            <p class="card-text">스코티위 폴드<br></p>
<p>체형 :세미 코비<br>
털 :장모와 단모 모두 태어날 수 있음<br>
성격 : 새로운 환경에 비교적 빨리 적응하고, 상냥하며 사람을 좋아한다.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">노르웨이 숲고양이</h4>
          <div class="card-body">
            <img src="{% static 'cat4.jpg' %}" width="230" height="300">
            <p class="card-text">노르웨이 숲고양이<br></p>
<p>체형 : 섭스텐셜<br>
털 :중장모<br>
성격 : 야성적인 면과 상냥한 면을 겸비하고 있다. 사람을 좋아하고 끈끈한 유대를 중시하는 사랑스러운 성격 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
     <div class="row">
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">구피</h4>
          <div class="card-body">
            <img src="{% static 'fish1.jpg' %}" width="230" height="300">
            <p class="card-text">구피<br></p>
<p>몸길이 :수컷이 3 cm, 암컷이 4 cm <br>
수명 : 2년~5년 <br>
특징 :
크기가 작고 좁은 수조에서도 잘 살고 번식하기 때문에  키우기 쉽고 번식력이 강함</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">체리새우</h4>
          <div class="card-body">
            <img src="{% static 'fish2.png' %}" width="230" height="300">
            <p class="card-text">체리새우<br></p>
<p>몸길이 :약 4cm<br>
수명 : 대개 1~2년 <br>
특징 :  
급격한 환경변화만 없으면 큰 문제없이 잘 살아남아 키우기 쉽고 번식력 강함 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">네온테트라</h4>
          <div class="card-body">
            <img src="{% static 'fish3.png' %}" width="230" height="300">
            <p class="card-text">네온테트라<br></p>
<p>몸길이 : 45mm<br>
수명 : 1~2년 <br>
특징 : 저렴한 가격에 성격이 온순해서 기르기 쉽지만 무리짓는 습성이 있어서 여러마리를 함께 키워야함</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">엔젤 피쉬</h4>
          <div class="card-body">
            <img src="{% static 'fish4.jpg' %}" width="230" height="300">
            <p class="card-text">엔젤 피쉬<br></p>
<p>몸길이 :12~15cm<br>
수명:3~10년<br>
특징 : 많은 사람들에게 알려진 열대어의 대표적인 어종으로 수질에 대한 적응력이 강할 뿐 아니라 먹이 붙임도 수월함</p>
          </div>
        </div>
      </div>

    </div>
     <div class="row">
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">카나리아</h4>
          <div class="card-body">
            <img src="{% static 'bird1.jpg' %}" width="230" height="300">
            <p class="card-text">카나리아<br></p>
몸 길이 : 2.5~13.5<br>
무게 :15~20 g<br>
수명 :7~15년<br>
특징 :귀여운 모습과 아름다운 털, 고운 목소리로 인기가 많으며 키우기 쉽다</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">잉꼬</h4>
          <div class="card-body">
            <img src="{% static 'bird2.png' %}" width="230" height="300">
            <p class="card-text">잉꼬<br></p>
<p>몸길이 : 18 cm<br>
몸무게 : 30~40 g<br>
수명 : 평균 5~7년<br>
특징 :스스로 먹고 싶을 때 먹고, 목욕도 하기 때문에 다른 애완동물에 비해 손이 덜 간다
</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">핀치류</h4>
          <div class="card-body">
            <img src="{% static 'bird3.jpg' %}" width="230" height="300">
            <p class="card-text">핀치<br></p>
<p>몸길이 : 8~23cm<br>
몸무게 : 8.4~80g<br>
수명 : 3~6년<br>
특징 :조용하고 얌전한 성격 <br>
색깔이 뚜렷하고 진함 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">왕관앵무</h4>
          <div class="card-body">
            <img src="{% static 'bird4.jpg' %}" width="230" height="300">
            <p class="card-text">왕관앵무<br></p>
<p>몸길이 : 30~33cm<br>
몸무게 : 90g<br>
수명 : 10~14년<br>
특징 :볼에 분홍빛의 둥그런 문양의 귀여운 얼굴과 사납지 않은 성격</p>
          </div>
        </div>
      </div>

    </div>
     <div class="row">
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">레오파드게코</h4>
          <div class="card-body">
            <img src="{% static 'lizard1.jpg' %}" width="230" height="300">
            <p class="card-text">레오파드게코<br></p>
<p>몸길이 :성체 기준으로 20-25cm<br>
몸무게 : 수컷은 40g, 암컷은 50g<br>
수명 : 15년<br>
특징 : 피부의 색상과 패턴이 매우 다양하고 다루기 쉽다</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">비어디드래곤</h4>
          <div class="card-body">
            <img src="{% static 'lizard2.jpg' %}" width="230" height="300">
            <p class="card-text">비어디드드래곤<br></p>
<p>몸길이 : 성체시 꼬리까지 50cm<br>
몸무게 : 400~500g<br>
수명 : 6~10년<br>
특징 : 매력적인 외모와 순한 성격 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">콘 스네이크</h4>
          <div class="card-body">
            <img src="{% static 'snake.jpg' %}" width="230" height="300">
            <p class="card-text">콘 스네이크<br></p>
<p>몸길이 유체시 30cm에서 성체시 1~1.2m<br>
몸무게 : 300g이상<br>
수명 : 15~21년 최대 30년<br>
특징 :순한 성격과 좋은 먹성을 지니며 사육환경에 민감하지 않다</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-1">
        <div class="card h-70">
          <h4 class="card-header">옐로우벨리 터틀</h4>
          <div class="card-body">
            <img src="{% static 'turtle.jpg' %}" width="230" height="300">
            <p class="card-text">옐로우벨리 터틀<br></p>
<p>몸길이 : 18~20cm<br>
몸무게 : 수컷은 40g, 암컷은 50g<br>
수명 : 40년<br>
특징 : 꽃거북이라고도 불리며 체질이 튼튼하고 기르기가 쉽다</p>
          </div>
        </div>
      </div>

    </div>
    <!-- Pagination -->
    <

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  

</body>

</html>

