<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>나의 새로운가족, My Pet</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/main">My Pet</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/main">동물소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pet">동물특징</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sos">유기동물</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
<br>
<br>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">유기동물
         <small><font color="red">LOVE SOS</font></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/main">동물소개</a>
      </li>
      <li class="breadcrumb-item active">유기동물</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'sosbanner.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>얼마나 많은 동물들이 버려지는지 아시나요?</h2>
        <p>동물도 감정을 느낍니다.</p>
        <p>하나의 생명으로 하나의 가족으로 받아주세요</p>
        <p>버려지는 유기동물들의 새로운 가족이 되어주세요.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>유기동물 사이트</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'busan.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">부산 유기동물 보호센터</h4>
            <h6 class="card-subtitle mb-2 text-muted">보호 카페</h6>
            <p class="card-text">이 카페는 부산에 있는 유기동물을 관리 하는 보호소에 자원 봉사 및 후원을 하는 카페 입니다.</p>
          </div>
          <div class="card-footer">
            <a href="https://cafe.naver.com/busananimal119" class="btn btn-primary">바로가기</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'every.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">유기견 보호 센터</h4>
            <h6 class="card-subtitle mb-2 text-muted">보호 센터</h6>
            <p class="card-text">이 사이트는 다른사이트 와는 다르게 게시판이 있어서 실시간으로 글을 볼 수 있고 다양한 정보들이 많아서 유용한 사이트
            입니다. </p>
          </div>
          <div class="card-footer">
            <a href="http://www.zooseyo.or.kr/zooseyo_or_kr.html?"class="btn btn-primary">바로가기</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'moa.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">유기견 무료 분양</h4>
            <h6 class="card-subtitle mb-2 text-muted">분양 센터</h6>
            <p class="card-text">이 사이트는 앞의 2 사이트와 다르게 체계적으로 
            시스템이 잡혀 있으며 전문적으로 유기동물을 위해 도움을 주는 사이트 입니다.</p>
          </div>
          <div class="card-footer">
            <a href="https://dmanimal.co.kr/shelter" class="btn btn-primary">바로가기</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <h2>유기동물 사진</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{% static 'dog4.jpg' %}" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{% static 'dog2.jpg' %}" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{% static 'dog3.jpg' %}" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{% static 'cat1.jpg' %}" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{% static 'cat2.jpg' %}" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="{% static 'cat3.jpg' %}" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
